# general
_ignore*
__pycache__
.venv
results
batchpredict
batchinput.txt
src/__pycache__

# editors
.idea
.vim
.vscode
*.code-workspace

# test
.coverage
.pytest_cache
/htmlcov
metrics.csv
metrics_1model.csv

# build
*.egg-info
/build
/dist
